.iconxiangyou{
    font-size: 0.36rem;
}
.icondaifukuan{
    font-size: 0.6rem;
    color: #0099FF;
}
.icondaifahuo{
    font-size: 0.6rem;
    color: #999900;
}
.iconchongzhifanxian{
    font-size: 0.6rem;
    color: #66CC66;
}
.iconbuilding_{
    font-size: 0.6rem;
    color: #df9464;
}
.iconlipinka{
    font-size: 0.6rem;
    color:#f173ac;
}
.iconjifen{
    font-size: 0.6rem;
    color:#a1a3a6;
}
.iconwodeyouhuijuan{
    font-size: 0.6rem;
    color: #FF9999;
}
.iconxinxi{
    font-size: 0.6rem;
    color: #CCCCCC;
}
.iconyishengjianyi{
    font-size: 0.6rem;
    color: #df9464;
}