.backToTop{
    width: 0.5rem;
    height: 0.5rem;
    position: fixed;
    right: 0.3rem;
    bottom: 0.8rem;
    // background-image: url('../../assets/img/backToTop.png');
    // background-size: 100%;
} 